@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  
  .scroll-smooth {
    scroll-behavior: smooth;
  }
  

.cloudy-section {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.cloudy-section:hover {
  background: radial-gradient(circle, #ffffff, #b3e5fc, #29b6f6);
}

.cloudy-section::before,
.cloudy-section::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #29b6f6;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cloudy-section:hover::before {
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  opacity: 1;
}

.cloudy-section:hover::after {
  bottom: -50px;
  right: -60px;
  width: 200px;
  height: 200px;
  opacity: 1;
}

.responsive-svg {
  width: 100%;
  height: auto; 
}

@media (min-width: 768px) {
  .responsive-svg {
    width: 1130px;
    height: 298px;
  }
}

.responsive-svgg {
  width: 150px;
  height: auto;
}

@media (min-width: 768px) {
  .responsive-svgg {
    width: 264px;
    height: 299px;
  }
}

.custom-svg {
  width: 240px;
  height: auto;
}

@media (min-width: 768px) {
  .custom-svg {
    width: 280px;
    height: 280px;
  }
}

.custom-svg-472 {
  width: 336px;
  height: auto; 
}

@media (min-width: 768px) {
  .custom-svg-472 {
    width: 472px;
    height: 227px;
  }
}

.svg-hover {
  width: 350px;
  height: 350px;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

@media (max-width: 639px) {
  .svg-hover {
    width: 315px;
  }
}

@media (min-width: 640px) { 
  .svg-hover:hover {
    width: 380px;
    height: 380px;
  }
}










