@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  overflow-y: scroll; /* Enable scrolling but hide scrollbar */
}



.hover-link:hover .svg-path {
  fill: #0009FF; /* Blue background on hover */
  stroke: none;  /* Remove border stroke if needed */
}

.hover-link:hover .svg-text {
  fill: #FFFFFF; /* White text on hover */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none; 
  }
  
  .scroll-smooth {
    scroll-behavior: smooth;
  }
  

.cloudy-section {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.cloudy-section:hover {
  background: radial-gradient(circle, #ffffff, #b3e5fc, #29b6f6);
}

.cloudy-section::before,
.cloudy-section::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #29b6f6;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cloudy-section:hover::before {
  top: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  opacity: 1;
}

.cloudy-section:hover::after {
  bottom: -50px;
  right: -60px;
  width: 200px;
  height: 200px;
  opacity: 1;
}

.responsive-svg {
  width: 100%;
  height: auto; 
}

@media (min-width: 425px) {
  .responsive-svg {
    width: 360px;
    height: 298px;
  }
}

@media (min-width: 768px) {
  .responsive-svg {
    width: 580px;
    height: 298px;
  }
}

@media (min-width: 1440px) {
  .responsive-svg {
    width: 1130px;
    height: 298px;
  }
}



.responsive-svgg {
  width: 150px;
  height: auto;
}

@media (min-width: 768px) {
  .responsive-svgg {
    width: 264px;
    height: 299px;
  }
}



.custom-svg {
  width: 240px;
  height: auto;
}

@media (min-width: 768px) {
  .custom-svg {
    width: 280px;
    height: 280px;
  }
}

.custom-svg-472 {
  width: 336px;
  height: auto; 
}

@media (min-width: 768px) {
  .custom-svg-472 {
    width: 472px;
    height: 227px;
  }
}

.svg-hover {
  width: 350px;
  height: 350px;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

@media (max-width: 639px) {
  .svg-hover {
    width: 315px;
  }
}

@media (min-width: 640px) { 
  .svg-hover:hover {
    width: 380px;
    height: 380px;
  }
}

.swiper-pagination {
  position: absolute; 
  top: 1px; 
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 10; 
}

.swiper-pagination-bullet {
  background-color: #0009ff; 
  opacity: 0.5; 
  width: 20px;
  height: 20px;
  margin: 0 5px; 
  transition: background-color 0.3s, transform 0.3s; 
}

.swiper-pagination-bullet-active {
  background-color: #0009ff; 
  opacity: 1; 
  transform: scale(1.2); 
}

.gradient-container {
  background: radial-gradient(105.57% 105.57% at 50% 50%, #FFF 0%, #FAFAFA 100%);
  transition: background 0.3s ease-in-out;
}

.gradient-container:hover {
  background: radial-gradient(105.57% 105.57% at 50% 50%, #FFF 0%, #969AFF 100%);
}

.hover-gradient-container {
  background: #FAFAFA; /* Default background */
  transition: background 0.3s ease-in-out;
}

.hover-gradient-container:hover {
  background: conic-gradient(from 187deg at 16.05% 158.56%, #CFFF49 0deg, #E24125 180deg, #0009FF 360deg);
}

.hover-radial-gradient-container {
  background: #FAFAFA; /* Default background color */
  transition: background 0.3s ease-in-out;
}

.hover-radial-gradient-container:hover {
  background: radial-gradient(105.57% 105.57% at 50% 50%, #D83200 0%, #0009FF 50%);
}

.gradient-hover:hover {
  background: linear-gradient(180deg, #03088D 0%, #0009FF 50%, #0208B8 100%);
  box-shadow: 
    0px 12px 14px -4px rgba(0, 0, 0, 0.9), 
    0px 0px 0.5px 2px #1E1C1C inset, 
    4px 6px 3px -5px #FFF inset, 
    2px 2px 0px 0px rgba(0, 0, 0, 0.85) inset, 
    0px 5px 0.5px -2px #EFEFEF inset, 
    2px 2px 5px 3px #151313 inset, 
    0px -4px 2px 0px rgba(0, 0, 0, 0.6) inset, 
    3px -3px 4px 0px rgba(104, 88, 74, 0.85) inset, 
    0px -4px 4px 2px rgba(255, 235, 201, 0.15) inset;
}



